# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\piedr\OneDrive\antes\Documentos\Estudis Universitaris\Tercer Curs\TAP\Practiques\MailSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
